@media screen and (max-width: 991px) {
  .header__main {
    position: relative;
  }
  .header__main.below-fold::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: radial-gradient(91.9% 64.98% at 17.95% 14.16%, #4F6269 0%, #25414E 46%, #000D16 200%) center/400% 1000%;
    z-index: 0;
    pointer-events: none;
  }
}

.scholarships {
  font-size: 0.8333333333vw;
  max-width: initial;
}
@media screen and (max-width: 991px) {
  .scholarships {
    font-size: min(5vw,16px);
  }
}
@media screen and (max-width: 991px) and (min-width: 700px) {
  .scholarships {
    font-size: min(5vw,16px);
  }
}
.scholarships .banner {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-top: 6.25rem;
  background: #4F6269 radial-gradient(91.9% 64.98% at 17.95% 14.16%, #4F6269 0%, #25414E 46%, #000D16 100%) center/100% 100%;
}
@media screen and (max-width: 991px) {
  .scholarships .banner {
    width: 100vw;
    min-height: initial;
    background: radial-gradient(91.9% 64.98% at 17.95% 14.16%, #4F6269 0%, #25414E 46%, #000D16 200%) center/800% 100%;
  }
  .scholarships .banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    z-index: 0;
  }
}
.scholarships .banner .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  z-index: 0;
  opacity: 0.4;
}
.scholarships .banner .circle img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .scholarships .banner .circle {
    display: none;
  }
}
.scholarships .banner .hero-text {
  padding: 6.875vw;
  line-height: 1;
  max-width: 75%;
}
@media screen and (max-width: 991px) {
  .scholarships .banner .hero-text {
    max-width: initial;
    padding: 20px;
  }
}
.scholarships .banner .hero-text .headline {
  font-family: "Titillium Web", sans-serif;
  font-size: 6.75em;
  font-weight: bold;
  line-height: 1;
  color: white;
  margin-bottom: 15vh;
  transform: translate(0, -200%);
  opacity: 0;
  animation: headline-enter 0.5s 1s ease-out forwards;
}
@keyframes headline-enter {
  to {
    transform: none;
    opacity: 1;
  }
}
@media (orientation: landscape) and (max-height: 770px) {
  .scholarships .banner .hero-text .headline {
    margin-bottom: 5vh;
  }
}
@media (min-aspect-ratio: 5/3) {
  .scholarships .banner .hero-text .headline {
    margin-bottom: 5vh;
  }
}
@media screen and (max-width: 991px) {
  .scholarships .banner .hero-text .headline {
    font-size: 2.75em;
    line-height: 1.14;
    margin-bottom: 1em;
  }
  .scholarships .banner .hero-text .headline br {
    display: none;
  }
}
.scholarships .banner .hero-text .headline p {
  margin: 0;
}
.scholarships .banner .hero-text .subhead {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
  color: white;
  transform: translate(0, 100vh);
  opacity: 0;
  animation: subhead-enter 2s 1s ease-out forwards;
}
@keyframes subhead-enter {
  to {
    transform: none;
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .scholarships .banner .hero-text .subhead {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.25em;
    font-weight: 500 !important;
    line-height: 1.3;
  }
}
.scholarships .banner .hero-text .subhead span {
  font-weight: bold !important;
}
.scholarships .banner .kv {
  width: 40%;
  aspect-ratio: 0.7;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .banner .kv {
    position: relative;
    width: 100%;
    aspect-ratio: 0.8;
  }
}
.scholarships .banner .kv > div {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.scholarships .banner .kv > div img {
  width: 100%;
}
.scholarships .banner .kv .ellipses {
  width: 100%;
  opacity: 0;
  transform: scale(0);
  transform-origin: 100% 100%;
  animation: banner-ellipses-enter 1s ease-out forwards;
}
@keyframes banner-ellipses-enter {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.scholarships .banner .kv .talent {
  width: auto;
  height: 90vh;
  right: 5%;
  bottom: 0;
  opacity: 0;
  animation: banner-talent-enter 1s 3s ease-out forwards;
}
@keyframes banner-talent-enter {
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .scholarships .banner .kv .talent {
    width: 100%;
    height: auto;
    right: auto;
    left: -15%;
  }
  .scholarships .banner .kv .talent img {
    height: auto !important;
    width: 100% !important;
  }
}
.scholarships .banner .kv .talent img {
  height: 100%;
  width: auto;
}
.scholarships .banner .scroller {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
  margin: 0 auto 5%;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-family: "DIN Next LT Pro", sans-serif;
  font-weight: 500;
  padding-bottom: 2em;
  z-index: 1;
  transition: color 0.5s;
  opacity: 0;
  animation: banner-talent-enter 1s 3s ease-out forwards;
}
@media (min-aspect-ratio: 2/1) {
  .scholarships .banner .scroller {
    margin-bottom: 1em;
  }
}
.scholarships .banner .scroller::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 1em;
  height: 1.5em;
  background: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/scroll-arrow.svg) no-repeat center/100%;
  transform-origin: 0 -30%;
  animation: scroller-pulse 1s ease-in-out alternate infinite;
}
@keyframes scroller-pulse {
  to {
    transform: scale(1, 1.4);
  }
}
.scholarships .banner .scroller:hover {
  color: white;
}
.scholarships .banner .scroller span {
  display: block;
  position: relative;
  z-index: 1;
}
@media (min-aspect-ratio: 2.5/1) {
  .scholarships .banner .scroller {
    position: relative;
  }
}
@media (orientation: landscape) and (max-height: 770px) {
  .scholarships .banner .scroller {
    position: relative;
    transform: translate(0, -1em);
  }
}
.scholarships .button, .scholarships .cta button, .scholarships .cta a, .scholarships .major a.cta, .scholarships .student-card .cta, .scholarships .enroll .cta a {
  margin: 0.2em 0;
  display: block;
  border: none;
  background: white;
  color: #06184A;
  width: fit-content;
  padding: 1em 2em 0.8em;
  font-family: "DIN Next LT Pro", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  position: relative;
  flex: 0 0 auto;
}
.scholarships .button.dark, .scholarships .cta button.dark, .scholarships .cta a.dark, .scholarships .major a.cta.dark, .scholarships .student-card .cta.dark, .scholarships .enroll .cta a.dark {
  background: #000A26;
  color: white;
}
.scholarships .student-card .cta {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  background: #000A26;
  color: white;
}
@media screen and (max-width: 991px) {
  .scholarships .student-card .cta {
    padding: 1.2em 2em 1em;
    font-size: 0.9em;
  }
}
.scholarships .majors, .scholarships .profiles {
  margin: 3em auto;
  max-width: 1920px !important;
}
@media screen and (max-width: 991px) {
  .scholarships .majors, .scholarships .profiles {
    margin: 2em 0;
    padding: 1em;
  }
}
@media not screen and (max-width: 991px) {
  .scholarships .majors, .scholarships .profiles {
    font-size: min(1em, 20px);
  }
}
.scholarships .majors .head-row, .scholarships .profiles .head-row {
  font-family: "DIN Next LT Pro", sans-serif;
  font-size: 6.75em;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  width: 86.25%;
  margin: 0 auto 0.3em;
}
@media screen and (max-width: 991px) {
  .scholarships .majors .head-row, .scholarships .profiles .head-row {
    font-size: 2.2em;
    margin-bottom: 0.2em;
    padding: 0;
    width: 100%;
  }
}
.scholarships .majors .major-list, .scholarships .profiles .major-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 86.25%;
  gap: 0 1.5%;
}
@media screen and (max-width: 991px) {
  .scholarships .majors .major-list, .scholarships .profiles .major-list {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1em 0;
    width: 100%;
  }
}
.scholarships .majors .major-list .major, .scholarships .profiles .major-list .major {
  position: relative;
  padding: 2em;
  box-sizing: content-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 0.75;
  min-height: 30em;
}
@media screen and (max-width: 991px) {
  .scholarships .majors .major-list .major, .scholarships .profiles .major-list .major {
    padding: 1.5em;
    min-height: initial;
  }
}
.scholarships .majors .major-list .major .picture, .scholarships .profiles .major-list .major .picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.scholarships .majors .major-list .major .picture:after, .scholarships .profiles .major-list .major .picture:after {
  content: "";
  background: linear-gradient(360deg, #000000 14.28%, rgba(0, 0, 0, 0) 57.6%);
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scholarships .majors .major-list .major .picture img, .scholarships .profiles .major-list .major .picture img {
  width: 100%;
  object-fit: cover;
}
.scholarships .majors .major-list .major .description, .scholarships .profiles .major-list .major .description {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: white;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .scholarships .majors .major-list .major .cta, .scholarships .profiles .major-list .major .cta {
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
}
.scholarships .tag-container {
  display: flex;
  align-items: center;
  background: #112630;
  color: white;
}
.scholarships .tag-container .anim-tags {
  overflow: hidden;
  width: 100%;
}
.scholarships .tag-container .anim-tags .tag-list {
  margin-left: 6.875vw;
  display: flex;
  align-items: center;
}
@keyframes tag-slide {
  5% {
    transform: none;
  }
  45% {
    transform: translate(-80%);
  }
  55% {
    transform: translate(-80%);
  }
  95% {
    transform: none;
  }
}
@media screen and (max-width: 991px) {
  .scholarships .tag-container .anim-tags .tag-list {
    margin: 0;
    padding: 20px;
  }
}
.scholarships .tag-container .anim-tags .tag-list.animated {
  animation: tag-slide 15s infinite;
}
.scholarships .tag-container .anim-tags .tag-list .tag {
  font-family: "DIN Next LT Pro", sans-serif;
  font-size: 6.75em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0.2em 0 0.1em;
  color: white;
}
@media screen and (max-width: 991px) {
  .scholarships .tag-container .anim-tags .tag-list .tag {
    font-size: 2.75em;
  }
}
.scholarships .tag-container .anim-tags .tag-list .tag span {
  display: inline-block;
}
.scholarships .tag-container .anim-tags .tag-list .tag .hashtag, .scholarships .tag-container .anim-tags .tag-list .tag em, .scholarships .tag-container .anim-tags .tag-list .tag i {
  font-size: 1.2em;
  font-style: normal;
}
.scholarships .tag-container .anim-tags .tag-list .tag .suffix, .scholarships .tag-container .anim-tags .tag-list .tag strong, .scholarships .tag-container .anim-tags .tag-list .tag b {
  color: transparent;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #112630;
}
.scholarships .tag-container.dsta-tag, .scholarships .tag-container.dark {
  background: #DADADA;
}
.scholarships .tag-container.dsta-tag .tag, .scholarships .tag-container.dark .tag {
  color: black !important;
}
.scholarships .tag-container.dsta-tag .tag .suffix, .scholarships .tag-container.dsta-tag .tag strong, .scholarships .tag-container.dsta-tag .tag b, .scholarships .tag-container.dark .tag .suffix, .scholarships .tag-container.dark .tag strong, .scholarships .tag-container.dark .tag b {
  -webkit-text-stroke-color: black !important;
  -webkit-text-fill-color: #DADADA !important;
}
.scholarships .tag-container.soar-tag {
  background: #3E574B;
}
.scholarships .tag-container.soar-tag .tag {
  color: white !important;
}
.scholarships .tag-container.soar-tag .tag .suffix, .scholarships .tag-container.soar-tag .tag strong, .scholarships .tag-container.soar-tag .tag b {
  -webkit-text-stroke-color: white !important;
  -webkit-text-fill-color: #3E574B !important;
}
.scholarships .student-hero {
  width: 100%;
  margin: 0 auto;
  padding: 4em 0 0 0;
  color: white;
  background: radial-gradient(91.9% 64.98% at 17.95% 14.16%, #4F6269 0%, #25414E 46%, #041927 100%);
  position: relative;
  display: grid;
  grid-template-areas: "desc kv" "card kv";
  grid-template-columns: 5.5fr 4.5fr;
  gap: 0 5%;
  align-items: flex-end;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero {
    grid-template-areas: "desc" "kv" "card";
    grid-template-columns: 1fr;
    padding: 1em 0;
  }
}
.scholarships .student-hero .kv {
  grid-area: kv;
  position: relative;
  overflow: hidden;
  min-height: 40vw;
  transform: translate(0, -20%);
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .kv {
    width: 100% !important;
    min-height: 100vw !important;
    overflow: hidden;
  }
}
.scholarships .student-hero .kv .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.scholarships .student-hero .kv .bg img {
  width: 100%;
  object-fit: cover;
}
.scholarships .student-hero .kv .talent {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.scholarships .student-hero .kv .talent img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .kv .talent {
    right: auto;
  }
}
@keyframes hero-kv-enter {
  to {
    transform: none;
    opacity: 1;
  }
}
.scholarships .student-hero .kv.animated {
  animation: hero-kv-enter 1s ease-out forwards;
}
@keyframes hero-text-enter {
  to {
    transform: none;
    opacity: 1;
  }
}
.scholarships .student-hero .description {
  grid-area: desc;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  margin-left: 6.875vw;
  transform: translate(0, 100%);
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .description {
    font-size: 1.38em;
    padding: 1em;
    line-height: 1.4;
    margin-left: 0;
  }
}
.scholarships .student-hero .description.animated {
  animation: hero-text-enter 1s ease-out forwards;
}
.scholarships .student-hero .description p {
  margin-bottom: 1.5em;
}
.scholarships .student-hero .student-card {
  grid-area: card;
  background: white;
  border-radius: 0.5em;
  color: #231F20;
  font-family: "Titillium Web", sans-serif;
  padding: 2em 3em 2em 2.3em;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.15);
  margin: 2em 0 3em 6.875vw;
  transform: translate(0, 100%);
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card {
    width: 90%;
    padding: 2em 1.5em 1.5em;
    margin: 1em auto;
  }
}
.scholarships .student-hero .student-card.animated {
  animation: hero-text-enter 1s 0.3s ease-out forwards;
}
.scholarships .student-hero .student-card .card-head {
  display: flex;
  align-items: flex-start;
  gap: 1%;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-head {
    flex-direction: column;
  }
}
.scholarships .student-hero .student-card .card-head .profile .name {
  font-family: "Titillium Web", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-head .profile .name {
    font-size: 1.25em;
  }
}
.scholarships .student-hero .student-card .card-head .profile .dept, .scholarships .student-hero .student-card .card-head .profile h6 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-head .profile .dept, .scholarships .student-hero .student-card .card-head .profile h6 {
    font-size: 1.15em;
  }
}
.scholarships .student-hero .student-card .card-head .profile .title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-head .profile .title {
    margin-bottom: 1em;
    font-size: 1em;
  }
}
.scholarships .student-hero .student-card .card-head .cta {
  margin-left: auto;
  order: 1;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-head .cta {
    margin-left: 0;
  }
}
.scholarships .student-hero .student-card .card-text {
  margin: 1em 0 0 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 991px) {
  .scholarships .student-hero .student-card .card-text {
    font-size: 1em;
  }
}
.scholarships .student-hero .student-card .card-text p {
  margin: 0.5em 0;
}
@media not screen and (max-width: 991px) {
  .scholarships .student-hero.diploma-student .kv .talent {
    width: 100%;
    top: -10%;
    right: -10%;
  }
}
.scholarships .student-hero.flip, .scholarships .student-hero.dsta-student {
  background: radial-gradient(91.9% 64.98% at 17.95% 14.16%, #ECEEE5 0%, #EFF0EC 46%, #FFFFFF 100%);
  color: #231F20;
}
@media not screen and (max-width: 991px) {
  .scholarships .student-hero.flip, .scholarships .student-hero.dsta-student {
    grid-template-areas: "kv desc" "kv card";
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}
.scholarships .student-hero.flip .kv, .scholarships .student-hero.dsta-student .kv {
  min-height: 45vw;
  margin-right: -10%;
}
.scholarships .student-hero.flip .kv > div, .scholarships .student-hero.dsta-student .kv > div {
  top: auto;
  bottom: 0;
}
.scholarships .student-hero.flip .kv .talent, .scholarships .student-hero.dsta-student .kv .talent {
  width: auto;
  height: 100%;
  left: 0;
  right: auto;
}
.scholarships .student-hero.flip .kv .talent img, .scholarships .student-hero.dsta-student .kv .talent img {
  width: auto;
  height: 100%;
}
@media not screen and (max-width: 991px) {
  .scholarships .student-hero.flip .description, .scholarships .student-hero.flip .student-card, .scholarships .student-hero.dsta-student .description, .scholarships .student-hero.dsta-student .student-card {
    margin-left: -5%;
    width: 95%;
  }
  .scholarships .student-hero.flip .student-card, .scholarships .student-hero.dsta-student .student-card {
    width: 96%;
  }
}
.scholarships .student-hero.soar-student {
  background: radial-gradient(79.81% 72.58% at -2.98% 0%, #9BA939 0%, #738540 57.83%, #5D7244 100%);
}
.scholarships .student-hero.soar-student .kv .bg {
  top: 0;
  bottom: auto;
}
.scholarships .journey {
  color: white;
  padding: 3em 6.875vw;
  background: #010E17;
  position: relative;
}
@media screen and (max-width: 991px) {
  .scholarships .journey {
    padding: 2em 1.25em;
    margin-bottom: -2px;
  }
}
.scholarships .journey::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #112630;
  clip-path: polygon(0 0, 100% 0, calc(100% - 6em) 100%, 0 100%);
  z-index: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .journey::before {
    clip-path: polygon(0 0, 100% 0, calc(100% - 4em) 100%, 0 100%);
  }
}
.scholarships .journey .heading {
  font-family: "Work Sans", sans-serif;
  font-size: 2.75em;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transform: translate(-70vw);
}
@keyframes journey-heading-enter {
  from {
    transform: translate(-70vw);
  }
  to {
    transform: none;
  }
}
.scholarships .journey .heading.animated {
  animation: journey-heading-enter 1s 0s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
@media screen and (max-width: 991px) {
  .scholarships .journey .heading {
    font-size: 1.75em;
    line-height: 1.2;
  }
}
.scholarships .journey .cta {
  transform: translate(-70vw);
  margin-top: 1em;
}
.scholarships .journey .cta a, .scholarships .journey .cta button {
  background: #06184A;
  color: white;
}
.scholarships .journey .cta.animated {
  animation: journey-heading-enter 1s 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
.scholarships .journey.dsta-journey {
  color: #231F20;
  background: #fdfdfd;
}
.scholarships .journey.dsta-journey::before {
  background: #DADADA;
}
.scholarships .journey.soar-journey {
  background: rgba(255, 255, 255, 0.15) url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/enroll-bg-green.png) no-repeat top right/100% 1000%;
}
.scholarships .journey.soar-journey::before {
  background: #3E574B;
}
.scholarships .benefits {
  font-family: "Work Sans", sans-serif;
  background: #010E17;
  color: white;
  padding: 4em 6.875vw;
}
@media screen and (max-width: 991px) {
  .scholarships .benefits {
    padding: 4em 16px;
  }
}
@keyframes benefits-enter {
  to {
    transform: translate(0);
  }
}
.scholarships .benefits .heading {
  font-size: 2.75em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.3em;
  transform: translate(-80vw);
}
.scholarships .benefits .heading.animated {
  animation: benefits-enter 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
@media screen and (max-width: 991px) {
  .scholarships .benefits .heading {
    font-size: 1.75em;
    margin-bottom: 1em;
  }
}
.scholarships .benefits ul {
  padding-left: 0;
  transform: translate(-80vw);
}
.scholarships .benefits ul.animated {
  animation: benefits-enter 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
.scholarships .benefits ul li {
  font-size: 1.25em;
  padding-left: 1.5em;
  margin-bottom: 0.4em;
  list-style-type: none;
  position: relative;
}
.scholarships .benefits ul li::before {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0.2em;
  background: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/check-bullet-lite.svg) center/110%;
}
@media screen and (max-width: 991px) {
  .scholarships .benefits ul li {
    font-size: 1em;
  }
}
.scholarships .benefits .columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  transform: translate(-80vw);
}
.scholarships .benefits .columns.animated {
  animation: benefits-enter 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
@media screen and (max-width: 991px) {
  .scholarships .benefits .columns {
    grid-template-columns: 1fr;
  }
}
.scholarships .benefits .columns .column .subhead {
  font-family: "Titillium Web", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 991px) {
  .scholarships .benefits .columns .column .subhead {
    font-size: 1.38em;
  }
}
.scholarships .benefits.dsta-benefits, .scholarships .benefits.lite {
  background: #E5E5E5;
  color: #231F20;
}
.scholarships .benefits.dsta-benefits ul li::before, .scholarships .benefits.lite ul li::before {
  background-image: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/check-bullet.svg);
}
.scholarships .benefits.soar-benefits {
  background: #506747;
}
.scholarships .enroll {
  background: rgba(255, 255, 255, 0.15) url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/enroll-bg-dark.png) no-repeat center top 2%/100% 100%;
  color: white;
  padding: 4em 6.875vw;
}
@media screen and (max-width: 991px) {
  .scholarships .enroll {
    padding: 2em 1em;
  }
}
@keyframes enroll-enter {
  to {
    opacity: 1;
  }
}
.scholarships .enroll .heading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin: 1.7em 0;
  line-height: 1.2;
  opacity: 0;
}
.scholarships .enroll .heading.animated {
  animation: enroll-enter 1s 0s forwards;
}
.scholarships .enroll .heading.animated.secondary {
  animation: enroll-enter 1s 1s forwards;
}
@media screen and (max-width: 991px) {
  .scholarships .enroll .heading {
    font-size: 1.38em;
    margin: 1.2em 0;
  }
}
.scholarships .enroll .requirements {
  font-family: "Work Sans", sans-serif;
  margin: 2em 0;
  opacity: 0;
}
.scholarships .enroll .requirements.animated {
  animation: enroll-enter 1s 0.5s forwards;
}
.scholarships .enroll .requirements > ul {
  padding: 0;
}
.scholarships .enroll .requirements > ul > li {
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #FFC92C;
  line-height: 1.4;
  letter-spacing: 0.04em;
  margin: 1.5em 0;
  list-style-type: none;
  padding-left: 1.5em;
  position: relative;
}
.scholarships .enroll .requirements > ul > li::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: 0;
  top: 0.1em;
  background: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/arrow-bullet-yellow.svg) no-repeat center/100%;
}
@media screen and (max-width: 991px) {
  .scholarships .enroll .requirements > ul > li {
    font-size: 1em;
    margin: 1em 0;
  }
}
.scholarships .enroll .requirements > ul > li ul li {
  text-transform: none;
  color: white;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.04em;
  margin: 1.5em 0;
  list-style-type: disc;
}
.scholarships .enroll .work-fields {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  white-space: nowrap;
  display: flex;
  gap: 1.2em 0;
  flex-wrap: wrap;
  opacity: 0;
}
.scholarships .enroll .work-fields.animated {
  animation: enroll-enter 1s 1.5s forwards;
}
.scholarships .enroll .work-fields span {
  display: inline-block;
  position: relative;
}
@media not screen and (max-width: 991px) {
  .scholarships .enroll .work-fields span {
    padding: 0 0.6em 0 0;
    margin-right: 0.6em;
    border-right: 1px solid;
  }
  .scholarships .enroll .work-fields span:last-child {
    border: none;
  }
}
@media screen and (max-width: 991px) {
  .scholarships .enroll .work-fields span {
    padding-left: 1.3em;
    white-space: normal;
    display: block;
  }
  .scholarships .enroll .work-fields span::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 0;
    top: 0.18em;
    background: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/arrow-bullet-lite.svg) no-repeat center/100%;
  }
}
.scholarships .enroll .work-fields span p {
  margin: 0;
}
@media screen and (max-width: 991px) {
  .scholarships .enroll .work-fields {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1em;
    gap: 0.5em 0;
  }
}
.scholarships .enroll .cta {
  margin: 3em 0 1em 0;
  opacity: 0;
}
.scholarships .enroll .cta.animated {
  animation: enroll-enter 1s 2s forwards;
}
.scholarships .enroll.lite {
  background: white;
}
.scholarships .enroll.lite .heading {
  color: #231F20;
}
.scholarships .enroll.lite .requirements > ul > li {
  color: #06184A;
}
.scholarships .enroll.lite .requirements > ul > li::before {
  background-image: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/arrow-bullet.svg);
}
.scholarships .enroll.lite .requirements > ul > li ul li {
  color: #231F20;
}
.scholarships .enroll.lite .cta a, .scholarships .enroll.lite .cta button {
  background: #06184A;
  color: white;
}
.scholarships .enroll.soar-enroll {
  background-image: url(http://139.59.118.189/wp-content/themes/dso/img/scholarships/enroll-bg-green.png);
  background-color: rgba(255, 255, 255, 0.15);
  padding-bottom: 6em;
}

/*# sourceMappingURL=scholarships.css.map */
